.box1 {
  background-color: cyan;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

.box2 {
  background-color: magenta;
  width: 200px;
  height: 100px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 100px);
  /* margin-left: -100px;
  margin-top: -50px; */
}
